@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(196, 222, 156);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(36, 255, 3);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#contador {
    display: flex;
}

#numeroatual {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
    font-style: bolder;
}